h1{
    background-color:#C19434 ;
    text-align: center;
    margin-top: 10px;
}
.topline{
    background-color: #34421E;
    margin-top: 05px;
    height:30px;
    
}
.bg{
    background-color: #cccccc ; 
    height:100%;
}
.footer-second{
    background-color: #34421E;
    
}